@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
body {
    color: rgb(12, 185, 142);
    align-items: center;
    background-color: rgba(10, 1, 1, 0.918);
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    background-image: url("img-1.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    height: 2200px;
}
.container {
    width: 550px;
    margin: 20px;
    display:flexbox;
}
.box {
    border: 5px solid black ;
    padding: 20px;
    margin: 20px;
}
.name {
    font-family: ubuntu;
    font-size: 40px;
    font-weight: bold;
}
.born {
    text-align: center;
    font-size: 60px;
}
.professions {
    font-size: 40px;
}
.intro {
    font-size: 40px;
    font-family: play;
}
.pomegiai {
    font-size: 30px;
}
img {
    height: 200px;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    border: 3px solid blue;
}